@use 'variables' as *;

img {
  width: 100%;
  vertical-align: bottom;
}

nav {
  margin: 20px 0;
  a {
    margin-right: 10px;
  }
}



.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}